
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<!--<!--
    > : elementin alt elementini olusturuyoruz
    + : ayni seviyede eleman olusturmada kullaniliyor
    . : classlara verilen kisa yol
    # : idlere verilen kisa yol
    [] : elementin attributelarini eklemek icin kullanilir
    * : elementin kac kere tekrar edecegini belirtmek icin kullanilir
    $ : artan sekilde index numaralari atayabilmek icin kullanilir
    ^ : bir ust seviyeye cikmak icin kullanilir
-->

<!--<!DOCTYPE html>-->
<!--html:5-->
<!--<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
</body>
</html>

<input type="text" value="" id="" />-->  <!--input:text-->

<!--<input type="number" value="" id="" />-->  <!--input:number-->
<!--https://docs.emmet.io/
<!--https://docs.emmet.io/cheat-sheet/

<a href="/home/index">Degistir</a> 
<a href="#"></a>

<a href="" class="btn btn-success"></a>--> <!--a.btn.btn-success-->

<!--<ul>
    <li><a href=""></a></li>-->    @*(ul>lip>lorem5)+(ul>li>a)*@
@*</ul>-->*@
